/*
$mdc-typography-styles-headline1: (
    font-family: Knockout,
    text-transform: uppercase,
    font-weight: bold,
    line-height: .8em
);


$mdc-typography-styles-headline2: (
    font-family: Knockout,
    text-transform: uppercase,
    font-weight: bold,
    line-height: .8em
);

$mdc-typography-styles-headline3: (
    font-family: Knockout,
    text-transform: uppercase,
    font-weight: bold,
    line-height: .8em
);

$mdc-typography-styles-headline4: (
    font-family: Knockout,
    text-transform: uppercase,
    font-weight: bold,
    line-height: .8em
);


$mdc-typography-styles-headline5: (
    font-family: Knockout,
    text-transform: uppercase,
    font-weight: bold,
    line-height: .8em
);

$mdc-typography-styles-headline6: (
    font-family: Knockout,
    text-transform: uppercase,
    font-weight: bold,
    line-height: .8em
);

*/
