.section-spacing {
    margin-top: 5rem;
    margin-bottom: 5rem;

    @media screen and (min-width: 768px) {
        margin-top: 7rem;
        margin-bottom: 7rem;
    }

    &-large {
        margin-top: 7rem;
        margin-bottom: 7rem;

        @media screen and (min-width: 768px) {
            margin-top: 9rem;
            margin-bottom: 9rem;
        }
    }
}



.section-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media screen and (min-width: 768px) {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    &-large {
        padding-top: 7rem;
        padding-bottom: 7rem;

        @media screen and (min-width: 768px) {
            padding-top: 9rem;
            padding-bottom: 9rem;
        }
    }
}
